<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://12.10.10.30:3306/TBotBase?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">graf</property>
        <property name="connection.password">123</property>

        <property name="current_session_context_class">thread</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping package="ru.masich.bot.entity"/>
        <mapping class="ru.masich.bot.entity.Await"/>
        <mapping class="ru.masich.bot.entity.Catalog"/>
        <mapping class="ru.masich.bot.entity.LastMessage"/>
        <mapping class="ru.masich.bot.entity.Product"/>
        <mapping class="ru.masich.bot.entity.Store"/>
        <mapping class="ru.masich.bot.entity.UserBot"/>
        <mapping class="ru.masich.bot.entity.ObjectSend"/>

    </session-factory>
</hibernate-configuration>